<nav class="navigation comment-navigation" role="navigation">
    <h2 class="screen-reader-text">Comment navigation</h2>
    <div class="comment-nav-links">
        <div id="commentnavi">
            <span class="comments-pages"><i class="fa fa-comments"></i> 评论分页</span>
            <div id="commentpager" style="display:inline-block">
                {% if curr_comment_page.has_previous %}
                    {% if curr_page.previous_page_number == 1 %}
                              <a class="prev page-numbers" href="{{ page_url }}/#comments">« 上一页</a>
                    {% else %}
                         <a class="prev page-numbers"
                            href="{{ page_url }}/comment/page/{{ curr_comment_page.previous_page_number }}#comments">
                             « 上一页</a>
                    {% endif %}
                {% endif %}

                {% if curr_comment_page.has_next %}
                        <a class="page-numbers"
                            href="{{ page_url }}/comment/page/{{ curr_comment_page.next_page_number }}#comments">
                             下一页 » </a>
                {% endif %}
            </div>
            <div class="fixed"></div>
        </div>
    </div><!-- .nav-links -->
</nav>